header {
    padding: 30px;
    text-align: center;
    padding-top: 30px;
    background-color: #613468;
}

h1{
    font-family: Montserrat;
    font-size: 60px;
    text-align: center;
    color: white;
}

.content {
    font-family: Montserrat;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.canvas{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 2em;

    background-color: #613468;
    border-radius: 25px;
    height:70%;
}

.svg{
    background-color: white;
    margin:0.7em;
}

.poly{
    fill:none;
    stroke:black;
    stroke-width:4;
}

.button{
    background-color:#CFDCE9;
    width:6em;
    height:2.5em;
    margin: 0.2em;
    font-weight:bold;
}
.svgButtons{
    display:flex;
    flex-direction:row;
    margin:1em;
    align-items: center;
}

.history{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
}

.guessed{
    display: flex;
    flex-direction: row;
    background-color:#CFDCE9;
    width: 20em;
    height: 10em;
    margin: 1em;
    margin-bottom: 0.2em;

    border: white;
    border-width: 0.2em;
    border-style: solid;
    border-radius: 10px;
}

.button:hover {
    background-color: #8d98a3;
}

.guessed:hover {
    background-color: #8d98a3;
}

input{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

input:checked~.guessed {
    background-color: #6b75ff;
}

.results {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}